a {
    text-decoration: none;
    text-align: center;
    color: black;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: rgb(0, 161, 166);
    text-shadow: 0px 10px 10px black;
    animation: backInLeft;
    animation-duration: 0.6s;
}