.letranegra {
    color: black !important;
}

.txtprin {
    font-family: 'Dancing Script', cursive;
    font-family: 'Sacramento', cursive;
    font-size: 30px;
    animation: backInUp;
    animation-duration: 0.6s;
}